html,
body {
	margin: 0;
	padding: 0;
}
#root {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	font-family: 'Cascadia Code';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
header {
	margin: 0;
	padding: 0;
	min-width: auto;
	min-height: auto;
	position: fixed;
	top: 0;
}
main {
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
}
footer {
	padding: 10px;
	margin: 0;
	min-width: auto;
	min-height: auto;
	position: fixed;
	bottom: 0;
}
